body {
    background-color: ivory;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.accordion {
    margin: 50px auto;
    width: 70vw;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #f00;
}
.accordion li label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 2em;
    font-weight: 700;
    color: #641e16;
}

.accordion li label span {
    transform: rotate(90deg);
}

.accordion label + input[type="radio"] {
    display: none;
}

.accordion .content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
}

.accordion label + input[type="radio"]:checked + .content {
    max-height: 100%;
}