body {
    background-color: ivory;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    margin: 50px auto;
    width: 70vw;
}

.main-title {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid #dad8d5;
    color: #641e16; 
}

.accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #dad8d5;
}
.accordion li label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.7em;
    font-weight: 700;
    color: rgb(0, 0, 179);
}

.accordion li label span {
    color: ivory;
}

.accordion label + input[type="radio"] {
    display: none;
}

.accordion .content {
    text-align: center;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.accordion label + input[type="radio"]:checked + .content {
    max-height: 100%;
}

.accordion li:has(input[type="radio"]:checked) label span {
    transform: rotate(90deg);
}

.accordion li:hover .content{
    max-height: 100%;
}

.accordion li:hover span {
    transform: rotate(90deg);
}

.accordion .content .content-pic {
    width: 500px;
}

.main:hover .accordion li label, .main:hover .accordion li label span {
    color:#641e16;
}